/*************************/
/////// GENERAL VARS //////
/*************************/

//TODO vars

/*************************/
/////// CUSTOM VARS /////// 
/*************************/

//TODO vars

/*************************/
///// TYPOGRAPHY VARS /////
/*************************/

//TODO vars

/*************************/
///// COMPONENT CODE //////
/*************************/

//TODO code

/*************************/
/////// CUSTOM CODE /////// 
/*************************/

.app-container{
    position:relative;
    min-height: 100vh;
    height:auto;
    overflow: auto;

    // .app-content-container{
    //     position:absolute; 
    //     top:0px; 
    //     left:0px; 
    //     width:100%; 
    //     bottom:nth($footer-heights, 1); 
    // }

    @include SmallDevice{
        .app-content-container{
            bottom:0px;
        }
    }


    @include MediumDevice{
        .app-content-container{
            position: relative;
        }
    }

}
