
/*
* Common Variables
*/
$color-1: #00090f !default;
$color-2: #fff !default;
$color-3: rgb(70, 122, 182); 
$color-4: rgb(158, 204, 93);



$font-1:"brandon-grotesque",sans-serif;
$font-2:$font-1;


$res-url:"";


/****************************
*****************************
**** COMPONENT VARIABLES ****
*****************************
*****************************/

//FOOTER COMPONENT